/*UTILITY */
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.error-text {
  color: red;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 2rem;
}

.justify-center {
  justify-content: center;
}


.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}


.form-center {

  display: flex;
  align-items: center;
  justify-content: center;
  
}