@use './variables' as *;
@use './utility' as *;
@use './mixins' as *;

/*NAVBAR */

$orange-primary: #DF7861;
$dark-primary: #0a0c10;

.navbar{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  text-align: start;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  color: black;
  
  font-weight: bold;
  & > div, & > div ul {
    
    gap: 1rem;
    display: flex;
    align-items: center;
  }

  ul {
    margin: 0;
    padding: 0;
    li {   
      text-decoration: none;
      list-style: none;
    }
  }
}

.btn, .login-button{
  color: white;
  background-color: $orange-primary;
  border: none;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.login-button{
  margin: 0.5 1rem;
}



.logo  {
  display: flex;
  align-items: center;
  flex-grow: 0.01;
  /* top | right | bottom | left */

  & img {
    object-fit: contain;
    max-width: 80px;
  }
}

.nav-btn {
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 40px;
  /* top | right | bottom | left */
  padding: 5px 20px;
  cursor: pointer;

  &:hover {
    background-color: $dark-primary;
  }
}

#register {
    background-color: $dark-primary;
    color: white;

    & a {
      color:white;
    }

    &:hover {
      background-color: $dark-primary;
      cursor: pointer;
    }
}


@media screen and (max-width: 600px){
    .nav-btn{
     display: none;
    }
 }

 /*Stats page */
 .stats-menu__items{
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
  color: rgb(166, 165, 171);
  font-weight: 500;
}

.stats-menu {
  border-bottom: 1px solid rgba(166, 165, 171, 0.75);
  margin: 2rem;
  margin-bottom: 0;

  &__athlete-name{
    font-weight: 400;
    font-size: 0.85rem;
    color: rgb(166, 165, 171);
  }

  &__header {
    font-weight: 600;
    font-size: 2rem;
  }

  &__item-selected {
    color: $dark-primary !important;
    font-weight: 600;
  }

}

.stat-grid {
  margin: 0 auto;
  max-width: 1800px;
  justify-content: center;
  align-content: center;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 900px));
  grid-template-rows: repeat(2, minmax(350px, 375px));
  gap: 2rem;


}

.stat-box-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.stat-box {
  background-color: rgba(236, 236, 236, 0.404);
  min-width: 250px;
  border-radius: 8px;
  padding: 1rem;


  &__title {
    height: 2.5rem;
  }


  &__data {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
  }

  &__figure {
    font-size: 2.75rem;
    font-weight: 600;
  }

  &__improvement {
    color: green;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__regression {
    color: red;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__desc {
    font-size: 0.75rem;
  }

  .up-symbol{
    font-size: 1rem;
  }
}


/*Login*/
#forgot-password {
  display: block;
}
#login {
  & > * {
    margin: 0;
    padding: 0;
  }
  width: 300px;
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  & input {
    display: block;
    margin-bottom: 1rem;
  }
}

.login-btn-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-password-link{
  text-align:end;
  color: $orange-primary;
}


/*Dashboard pages*/

.overall-stat-table{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem 4rem;

}
.stat-row{
  background-color: rgb(235, 235, 235);
  border-radius: 0.5rem;
  padding: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
  align-items: center;

  > * {
    width: 100%;
  }
  
}

.table-stat-name{
  font-weight: lighter;
}


/*Helper styling classes*/

.flex-r{
  display: flex;
  flex-direction: row;
}

.flex-c{
  display: flex;
  flex-direction: column;
}

.report-card-header{
  display: flex;
  justify-content: space-between;
  margin: 1rem 4rem 0rem 4rem;

}

.report-card-title p{
  color: gray;
}

.button-group{
  display: flex;
  gap: 4rem;
}

.export-button-group{
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 0.5rem;

}

.filter-button-group{
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  margin: 0.5rem; 
  
  :not(:last-child){
    border-right: 1px solid black;
  
  }
}
.export-button{
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 1rem;
  
}

.filter-button{
  border:none;
}

.overall-graph-container{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  padding: 4rem;
  padding-top: 0.5rem;
  gap: 4rem;
}


/*STAFF ATHLETE TABLE */
.athlete-table {
  text-align: center;
  width: 100%;
  max-width: 1500px;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  th, & td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: thin solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid #dbb22c;
  }

  tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
}


/*DRILL ENTRY PAGE */
.athlete-overview-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

.athlete-reports {
  height: 800px;
  width: 800px;
  background-color: gray;
}

.athlete-report-form {
  max-width: 800px;
}
/* Registration Page */

.registration-form{
  margin: 2rem 30rem;
  padding:2rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  
}


.registration-form-row{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.register-link{
  text-decoration: underline;
}

.register-btn{
 display: flex;
 justify-content: flex-end;
}

.register-btn button{
  background-color: $orange-primary;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.registration-form-header {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.01;
  padding-bottom: 1rem;
}
.registration-form-header img {
  object-fit: contain;
  max-width: 125px;
}

.registration-form-header h2{
  align-self:flex-end;
  
}

.registration-form-header p{
  color: $orange-primary;

}

.registration-form-header p span{
  text-decoration: underline;
}
